name: CI

on:
  push:
    branches: [ master ]
    
  workflow_dispatch:
    inputs:
      release:
        description: 'Release the artifact'
        required: false

jobs:
  build:
    uses: ./.github/workflows/build.yaml
    secrets: inherit

  release:
    needs: [build]
    if: github.event.inputs.release != ''
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Publish
        shell: pwsh
        run: |
          dotnet publish pn.csproj `
            -c Release `
            -r win-x64 `
            -o output

      - name: Upload release asset
        uses: softprops/action-gh-release@v2
        with:
          tag_name: "latest"
          files: |
            output/pn.exe
